<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @aircraft_status.description %>
</p>


<%= link_to 'Edit', edit_aircraft_status_path(@aircraft_status) %> |
<%= link_to 'Back', aircraft_statuses_path %>
