<h1>Airbase</h1>
<p>Aircraft Spotting System</p>

<p>
<%= link_to "Edit Aircraft Statuses", aircraft_statuses_path %>
</p>
<p>
<%= link_to "Airports and Visits", airports_path %>
</p>
<p>
<%= link_to "Aircraft Histories", aircraft_index_path %>
</p>
<p>
